@import url('https://fonts.googleapis.com/css?family=Lato');
$lato: 'Lato', sans-serif;
$baseFontSize: 10px;
$break-xs: 480px;
$break-sm: 767px;
$break-md: 992px;
$break-ll: 1200px;
$footerHeight: 100px;

$articleTitleBoxShadow: #AF8C3E;
$articleTitleBoxColor: #FFEABA;
$bgColor: #AF8C3E;

$secColor: #dab167;